$white: #fff;
$black: #000;
$lightgrey: #EEE;
$cyan: #0cf;
$red: #8a0900;
$lightred: #d6281c;
$green: #00ab14;

$primary: #476061;
$secondary: #75C2C0;
$tertiary: #F9F6DE;

$text: $primary;
$text-negative: $white;

$modalbg: $white;
