@import "../../../public/scss/colors.scss";

.intro {
  position: absolute;
  z-index:20;
  top:4.625rem;
  padding: 0 2.5rem;

  h2 {
    color: $text-negative;
  }

  p {
    font-size: 1.125rem;
    color: $text-negative;
    line-height:1.5;
  }
}
