@import "../../../public/scss/colors.scss";

#headerBg {
        position:absolute;
        z-index:1;
        width: 100%;
        height: 65%;
        overflow: hidden;
        -webkit-transform: skewY(-12deg);
        transform: skewY(-12deg);
        -webkit-transform-origin: 0;
        transform-origin: 0;
        background: linear-gradient(150deg,
        $primary 15%,$secondary 70%,$tertiary 94%);

        &.authenticated {
           height:4rem;
          -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
          background: linear-gradient(150deg, $primary 15%,$secondary 70%,$tertiary 94%);
        }

        span {
            position: absolute;
            height:40px;
            &:nth-child(1) {
                width: 100%;
                left: 0%;
                top: 38px;
                background:$primary;
                opacity:.3;
            }
            &:nth-child(2) {
                width: 14%;
                left: 0%;
                top: 78px;
                background:$tertiary;
                opacity:.1;
            }
            &:nth-child(3) {
                width: 28%;
                right: 0;
                bottom: 40px;
                background:$cyan;
                opacity:.2;
            }
            &:nth-child(4) {
                width: 100%;
                bottom: 0;
                right: 0;
                background: $secondary;
                opacity:.4;
            }
        }
}

#globalNav{
    position:absolute;
    z-index:99;
    display: grid;
    grid-template-columns: 2.875fr 1.125fr;
    width:100%;

    div {
        padding: 1.25rem;


        svg {
            cursor: pointer;
            color: $text-negative;
        }

        .loginButton {
            display: block;
            color:$text-negative;
            cursor:pointer;
            text-transform: capitalize;
            line-height: 1.25;
            font-weight: bold;
            text-decoration: none;
        }

        h3 {
          text-transform: uppercase;
          margin: 0;
          color:$text-negative;
          text-align: left;
        }
    }
}

.mobileNavContainer {
    display:block;
    position: absolute;
    z-index:100;
    left: 10px;
    top: 10px;
    right: 10px;
    opacity:1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    border-radius:5px;
    background:$modalbg;

    .exitMenu {
        color:$primary;
        padding:1.25rem;
        cursor:pointer;
    }

    nav {
        padding:1.25rem;

        a {
            display:block;
            padding:.5rem;
            color: $primary;
            font-weight: bold;
            text-decoration: none;
            &:hover, &.active {
                color: $secondary;
            }
        }

        &:nth-child(1) {
            border-bottom:2px solid $lightgrey;
        }
    }

    button {
        display:block;
        width:100%;
        padding:1rem;
        color: $primary; background:$lightgrey;
        font-weight: bold;
        text-transform: uppercase;
        border:0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor:pointer;

        &.logOutBtn {
            color:$text-negative;
            background: $red;
            &:hover {
                background:$lightred;
            }
        }

        &:hover {
            background:$primary;
            color:$tertiary;
        }
    }
}

.hidden {
    top:-100%;
    opacity:0;
}
